.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 1rem;
  padding: 1rem;
  a {
    border-radius: var(--border-radius);
    color: var(--color-light);
    text-transform: capitalize;
    text-decoration: none;
    background-color: var(--color-primary);
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: background-color var(--transition);
    &:hover,
    &:focus-visible {
      background-color: var(--color-primary--dark);
    }
  }
}
